<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/login.css">
    <title>Document</title>
</head>

<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>ADD MOVIE</h3>
                <a href="viewMovie">Back</a>
                <form action="addMovie" enctype="multipart/form-data" method="POST">
                    <div class="form-group">
                        Name <input type="text" class="form-control" name="txtName" />
                    </div>
                    <div class="form-group">
                        Director <input class="form-control" type="text" name="txtDir">
                    </div>
                    <div class="form-group">
                        Cast <input class="form-control" type="text" name="txtCast">
                    </div>
                    <div class="form-group">
                        Category<select class="form-control" name="category">
                            {{#each cates}}
                            <option value="{{name}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        Release date <input class="form-control" type="date" name="txtDate">
                    </div>
                    <div class="form-group">
                        Running Time <input class="form-control" type="text" name="txtTime">
                    </div>
                    <div class="form-group">
                        Language
                        <select class="form-control" name="txtLanguage">
                            <option>EN</option>
                            <option>VN</option>
                            <option>Japan</option>
                        </select>
                    </div>
                    <div class="form-group">
                        Rule <input class="form-control" type="text" name="txtRule">
                    </div>
                    <div class="form-group">
                        Description <input class="form-control" type="text" name="txtDes">
                    </div>
                    <div class="form-group">
                        Img <input class="form-control" type="file" name="myFile" id="">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Add Movie" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>