<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/sidebar.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <h1><a href="/manager/" class="logo">HPH<div style="margin-top: -20px;" class="footer">
                    <p>cinema</p>
                </div></a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="/manager/"><span class="fa fa-home"></span> Home</a>
            </li>
            <li>
                <a href="/manager/viewSchedule"><span class="fa fa-calendar"></span>View Schedule</a>
            </li>
            <li>
                <a href="/manager/viewTicket"><span class="fa fa-file"></span>Convert Csv</a>
            </li>
        </ul>

        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved by University of Greenwich
            </p>
        </div>
    </nav>


    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <form action="" method="" class="form-search">
                    <input type="text" placeholder="  Search..." name="txtSearch">
                </form>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </div>
        </nav>
        <div class="dropdown">
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a href="/manager/addSchedule"><img src="" alt="">NowShowing</a> 
                </li>
                <li class="dropdown-item"><a href=""> Coming-soon</a></li>
            </ul>
        </div>
        <a href="/manager/setRoom"><span class="fa fa-cogs"></span>Set Room</a>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Columns</th>
            <th>Rows</th>
        </tr>
        {{#each rooms}}
        <tr>
            <td>{{name}}</td>
            <td>{{status}}</td>
            <td>{{columns}}</td>
            <td>{{rows}}</td>
        </tr>
        {{/each}}
    </table>
    </div>
</div>
    <script src="../js/csv.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>